
.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
  padding-bottom: 500px;
}
.bg-1 h3 {color: #fff;}

.btn_1 {
  
  background-color: rgb(90, 191, 209);
  color: seashell;
  width: 90px;
}
